// in globals.scss
@import "_mixin.scss";

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@300&family=Noto+Sans+TC:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-full{
  width: 100%;
}

.text-center{
  text-align: center;
}

.container{
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 32px;
  @include pad{
    max-width: initial;
    width: 100%;
    padding: 0 16px;
  }
}