.hero{
  text-align: center;
  padding: 120px 0;
  p{
    color: #7d7d7d;
  }
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  figure{
    margin: 0;
    img{
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}